.headernav{
    right:15px;
}
/* .banner
{   width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url("src/assets/back.jpeg");
    background-position: center;
    background-size: cover;

} */

.container-fluid
{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url("src/assets/Background.jpg");
}