
<div>
    <app-home-page-header></app-home-page-header>
</div>
<div class="img">
    <img src="assets\carEmiImage\carloan.png" style="width: 100%;" alt="carimage">
    <div class="adusttext">
      <pre><h1 style="font-size:35px;">
      Avail up to 50% lower 
      EMI with our extended
       loan tenures up to
        10 years</h1>
      </pre>
    </div>
    <div class="applybtn">
      <Button class="btn btn-danger" (click)="opendialoge()"> Apply Now </Button>
    </div>
    <div class="TCApply" style="color:red">
      <h3> T&C applicable </h3>
    </div>
  </div>
  
  <div class="emi">
    <app-emi-cal></app-emi-cal>
  </div> 
  <div><app-footer></app-footer></div>
