<h1>View Register Data</h1>
<br>
<table border="2" class="table table-dark">
    <thead><th>Applicant Id</th>
      <th>Applicant Name</th>
      <th>Mobile No</th>
      <th>Pan No</th>
      <th>All Details</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
      
    <tbody> <tr *ngFor="let reg of registerdData">
        <td>{{reg.applicantId}}</td>
        <td>{{reg.applicantFname}}    {{reg.applicantLname}}</td>
          <td>{{reg.applicantMobNumber}}</td>
          <td>{{reg.applicationPanno}}</td>
          
          <td><button class="btn btn-success" (click)="opendatainpop(reg)">View Details</button></td>
          <td>{{reg.applicantStatus}}</td>
          <td><button class="btn btn-primary" (click)="forward(reg)">Forward</button>&nbsp; &nbsp;
          <button class="btn btn-danger" (click)="reject(reg.applicantId)">Reject</button></td>
          </tr></tbody>
            </table>



