<p>reject-application works!</p>
<br>
<table border="2" class="table table-dark">
    <thead><th>Applicant Id</th>
      <th>Applicant Name</th>
      <th>Mobile No</th>
      <th>Pan No</th>
      <th>Status</th>
      <th>All Details</th>
     
    </thead>
      
    <tbody> <tr *ngFor="let reg of rejectbyoe">
        <td>{{reg.applicantId}}</td>
        <td>{{reg.applicantFname}}    {{reg.applicantLname}}</td>
          <td>{{reg.applicantMobNumber}}</td>
          <td>{{reg.applicationPanno}}</td>
          <td>{{reg.applicantStatus}}</td>
          <td><button class="btn btn-success" (click)="opendatainpop(reg)">View Details</button></td>
          <!-- <td><button class="btn btn-primary" (click)="verifyalldata(reg)">verified</button>&nbsp; &nbsp; -->
          
          </tr></tbody>
            </table>
