<nav class="navbar navbar-dark bg-dark">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-red">
        
        <div class="pra">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          
         <div class="nav">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="opendialoge()">ApplyNow <span class="sr-only">(current)</span></button>
              </li>&nbsp;&nbsp;
              <!-- <li class="nav-item active">
                <button class="nav-link" (click)="navtToview()">View Enquiries<span class="sr-only">(current)</span></button>
              </li> &nbsp; -->
            <li class="nav-item active">
              <a class="btn btn-outline-success my-2 my-sm-0" href="#">Home <span class="sr-only">(current)</span></a>
            </li>&nbsp;&nbsp;
            <li class="nav-item active">
                <a class="btn btn-outline-success my-2 my-sm-0" href="#">ContactUs <span class="sr-only">(current)</span></a>
              </li>&nbsp;&nbsp;
              <li class="nav-item active">
                <a class="btn btn-outline-success my-2 my-sm-0" href="#">AboutUs <span class="sr-only">(current)</span></a>
              </li>&nbsp;&nbsp;
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-outline-success my-2 my-sm-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>&nbsp;&nbsp;
            <li class="nav-item active">
                <a class="nav-link btn btn-outline-warning" (click)="openlogin()">Login <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>       
    </div> 
    </div>
    
      </nav>

</nav>
